{{ define "main" }}
<main id="main-content">
  <section class="container-fluid pt-5 pb-4" aria-labelledby="page-title">
    <div class="row justify-content-center text-center">
      <div class="col-lg-14 col-xl-12">
        <h1 id="page-title">{{ partial "reader-copy.html" (dict "text" (.Params.headline | default .Title) "dividerClass" "brand-divider") }}</h1>
        <p class="lead mt-4">
          {{- range $index, $line := .Params.lead -}}
            {{- if $index }}<br>{{ end -}}
            {{- partial "reader-copy.html" (dict "text" $line) -}}
          {{- end -}}
        </p>
        <div class="row justify-content-center mt-5">
          <div class="col-md-14 col-lg-12 col-xl-10 d-flex justify-content-center px-0 px-sm-4">
            <a class="btn btn-primary rounded-pill btn-lg px-2 px-sm-4 w-50 d-flex align-items-center justify-content-center" data-install-button href="{{ site.Params.chromeWebStoreURL }}">现在安装</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid pt-0 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-xl-10 lh-lg text-break">
        {{ .Content }}
      </div>
    </div>
  </section>
</main>
<button type="button" class="reader-preview-toggle btn btn-outline-primary rounded-pill btn-lg px-2 px-sm-4 shadow position-fixed start-50 translate-middle-x text-nowrap"
  data-reader-toggle aria-pressed="true" aria-controls="main-content" hidden>
  <svg class="reader-preview-indicator me-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20" aria-hidden="true" focusable="false"><rect x="5" y="1" width="6" height="14" fill="currentColor"/></svg><span data-reader-label>关闭辅助预览</span>
</button>
{{ end }}
