{{ define "main" }}
<main id="main-content">
  <section class="container-fluid pt-5 pb-4" aria-labelledby="page-title">
    <div class="row justify-content-center text-center">
      <div class="col-lg-14 col-xl-12">
        <h1 id="page-title">{{ partial "reader-copy.html" (.Params.headline | default .Title) }}</h1>
        <p class="lead mt-4">{{ partial "reader-copy.html" .Params.lead }}</p>
        <div class="d-flex flex-wrap justify-content-center align-items-center gap-4 mt-4">
          {{ $chromeURL := site.Params.chromeWebStoreURL | default "" }}
          {{ $edgeURL := site.Params.edgeAddonsURL | default "" }}
          {{ $installURL := site.Params.repositoryURL }}
          {{ $installLabel := "查看项目与安装方法" }}
          {{ if $chromeURL }}
            {{ $installURL = $chromeURL }}
            {{ $installLabel = "添加到 Chrome" }}
          {{ else if $edgeURL }}
            {{ $installURL = $edgeURL }}
            {{ $installLabel = "添加到 Edge" }}
          {{ end }}
          <a class="btn btn-primary rounded-pill btn-lg px-4" href="{{ $installURL }}" data-install-link data-chrome-url="{{ $chromeURL }}" data-edge-url="{{ $edgeURL }}" data-fallback-url="{{ site.Params.repositoryURL }}">{{ $installLabel }}</a>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid pt-0 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-xl-10 lh-lg text-break">
        {{ .Content }}
      </div>
    </div>
  </section>
</main>
{{ end }}
